{% extends "base.html" %}
{% block title %}View Ações{% endblock %}
{% block content %}
    <h1>Ver Dividendos</h1>
    <form method="POST" class="auth">
        <div class="form-group">
            <label for="ticker">Ticker: </label>
            <input type="text" name="ticker" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
    {% if codigo != None %}
        <table>
            <thead>
                <th>Ticker</th>
                <th>Cotação</th>
                <th>Preço Teto</th>
                <th>Dividendos</th>
                <!-- <th>Data</th> -->
                <th>Yield</th>
                <th>Margem de segurança</th>
                <th>Gráfico</th>
                <th>Fundamentos</th>
            </thead>
            <tr>
                <td>{{codigo}}</td>
                <td>R$ {{preco}}</td>
                <td>R$ {{preco_teto}}</td>
                <!-- {% for dividendo in dividendos %} 
                    <td>R$ {{dividendo}}</td>
                {% endfor %} -->
                <!-- {% for data in datas_dividendos %}
                    <td>{{data}}</td>
                {% endfor %} -->
                <!-- {% for yield in yields %}
                    <td>{{yield}} %</td>
                {% endfor %} -->
                <td>R$ {{total}}</td>
                <td>{{yield_total}} %</td>
                <td>{{margem}} %</td>
                <td><a target="_blank" href="{{link}}">TradingView</a></td>
                <td><a target="_blank" href="{{link_investidor10}}">Investidor10    </a></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}