{% extends "base.html" %}
{% block title %}View Ações{% endblock %}
{% block content %}
    <h1>Watch List</h1>
    <table>
        <thead>
            <th>Ticker</th>
            <th>Preço</th>
            <th>Preço Abertura</th>
            <th>dif</th>
            <th>Gráfico</th>
            <th>Fundamento</th>
            <th><a class="btn btn-success" href="/atualiza-watch-list">Atualizar</a></th>
        </thead>
        {% for acao in watch_list_ordenada %}
            <tr>
                {% if acao.dif_por > 0 %}
                    <td class="lucro">{{acao.ticker}}</td>
                {% elif acao.dif_por == 0 %}
                    <td class="zero">{{ acao.ticker }}</td>
                {% else %}
                    <td class="prejuizo">{{ acao.ticker }}</td>
                {% endif %}
                <td>R$ {{acao.preco}}</td>
                <td>R$ {{acao.preco_abertura}}</td>
                {% if acao.dif_por > 0 %}
                    <td class="lucro">{{acao.dif_por}} %</td>
                {% elif acao.dif_por == 0 %}
                    <td class="zero">{{ acao.dif_por }} %</td>
                {% else %}
                    <td class="prejuizo">{{ acao.dif_por }} %</td>
                {% endif %}
                <td><a target="_blank" href="{{acao.link_trading_view}}">TradingView</a></td>
                <td><a target="_blank" href="{{acao.link_investidor10}}">Investidor10</a></td>
                <td><button type="button" class="btn btn-danger" onClick="removeWatchList({{ acao.id }})">remover</button></td>
            </tr>
        {% endfor %}
    </table>
    <form method="POST">
        <div class="form-group">
            <label for="ticker">Ticker: </label>
            <input type="text" name="codigo" required class="form-control">
        </div>
        <button type="submit">Pesquisar</button>
    </form>
{% endblock %}